<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="container">
      <div class="jumbotron">
      <h1>Hello, Buddy!</h1>
      <p>This is a basic template to make you understand how introjs works!!</p>
      <p id='heading1'><a class="btn btn-loadmore btn-lg" href="#" role="button">Learn more</a></p>
 
 
      </div>
     
        
</div>
</div>
<div class='container'>
    <figure class="snip0057 red" id='developer'>
        <figcaption>
          <h2>Software <span>Developer</span></h2>
          <p>A software developer is a person concerned with facets of the software development process, including the research, design, programming, and testing of computer software.</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="https://ak7.picdn.net/shutterstock/videos/3031987/thumb/1.jpg" alt="sample4"/></div>
        <div class="position">Developers</div>
      </figure>
      <figure class="snip0057 blue" id='testing'>
        <figcaption>
          <h2>Software <span>Testing</span></h2>
          <p>Software testing is an investigation conducted to provide stakeholders with information about the quality of the software product or service under test</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption>
        <div class="image"><img src="https://ak6.picdn.net/shutterstock/videos/17372926/thumb/1.jpg" alt="sample3"/></div>
        <div class="position">Testers</div>
      </figure>
    </div>
